<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Clientes</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Painel de Controle</h1>
        <p>Selecione a ação desejada:</p>
        <div class="button-group">
            <a href="/formulario" class="btn btn-add">
                Adicionar Novo Cliente
            </a>
            <a href="/clientes" class="btn btn-remove">
                Gerenciar Clientes
            </a>
        </div>
    </div>
</body>
</html>